<div id="head">
  <h2>CS Fillrate Overview</h2>
</div>

<div style="position:fixed;top:50%;left:50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);">
  <span us-spinner="{color: 'black',radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
</div>

<hr>
<div id="wrapper">
  <div id="spalte1">
    <table>
      <tr>
        <form name="rangeDateForm">
          <label for="rangeDateSelect">Options:</label>
          <select name="rangeDateSelect" id="rangeDateSelect"
            ng-options="option.name for option in data.availableOptions track by option.id"
            ng-model="data.selectedOption"></select>
        </form>
      </tr>
      <tr ng-if="data.selectedOption.id == 2">
        <td>
          <label>From </label>
          <datepicker date-format="yyyy-MM-dd">
            <input id="select_date_1" class="form-control" ng-model="choosenRangeDate.Datum1" placeholder="Datum auswählen" type="text"/>
          </datepicker>
        </td>
        <td>
          <label>to </label>
          <datepicker date-format="yyyy-MM-dd">
            <input id="select_date_2" class="form-control" ng-model="choosenRangeDate.Datum2" placeholder="Datum auswählen" type="text"/>
          </datepicker>
        </td>
        <td>
          <label>.</label><br>
          <input type="button" href="javascript:void(0)" class="btn btn-default" ng-click="changeSelectedRange()" value="Go"></input>
        </td>
      </tr>
      <tr ng-if="data.selectedOption.id == 1">
        <td>
          <label>Datum</label>
          <datepicker date-format="yyyy-MM-dd">
            <input id="select_date" class="form-control" ng-model="choosenDate.Datum" placeholder="Datum auswählen" type="text"/>
          </datepicker>
        </td>
        <td>
          <label>Stunde</label>
          <form name="formStunde">
             <select class="form-control" name="selectStunde" id="selectStunde"
               ng-options="option.name for option in datax.availableStunde track by option.id"
               ng-model="datax.selectedStunde"></select>
           </form>
        </td>
        <td>
          <label>.</label><br>
          <input type="button" href="javascript:void(0)" class="btn btn-default" ng-click="changeSelectedDate()" value="Go"></input>
        </td>
      </tr>
    </table>
    <hr>
    <h4>FILLRATE ( {{setFillRateDate.Datum}}{{setFillRateDate.Stunde}} )</h4>
    <table>
      <tr class="graphics">
        <td data-ng-repeat="kampagne in kampagnes">
          <div class="chartboxsmall">
            <h5>{{kampagne.Kampagne | limitTo:14 }}{{ kampagne.Kampagne.length > 20 ? '...' : '' }}</h5>
            <div>
              <Circful value="kampagne.percent">
            </div>
            <hr>
            <h5>{{kampagne.Impressions | number : fractionSize}} | {{kampagne.AdCounts | number : fractionSize | default : 0 }}</h5>
          </div>
        </td>
      </tr>
    </table>
    <br>
    <table>
      <tr>
        <td>
          <div class="chartboxbig" style="height:450px;width:350px">
            <h5>OVERALL FILLED IMPRESSION</h5>
            <p>{{setOverFilledImpressionsDate.Datum}}{{setOverFilledImpressionsDate.Stunde}}</p>
            <div id="donut-ofi" style="width:300px;width: 100%;margin: 0 auto;"></div>
          </div>
        </td>
        <td>
          <div class="chartboxbig" style="height:450px;width:350px">
            <h5>OVERALL FILLRATE</h5>
            <p>{{setOverallFillrateDate.Datum}}{{setOverallFillrateDate.Stunde}}</p>
            <div data-ng-repeat="ovifillrate in ovifillrates">
              <div class="circleoverall">
                <Circful value="ovifillrate.percent">
              </div>
              <hr>
              <h5>{{ovifillrate.Impressions | number : fractionSize }} | {{ovifillrate.AdCounts | number : fractionSize || 0 }}</h5>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div id="spalte2">
    <hr>
    <h4>DETAIL</h4>
     <table>
      <tr>
        <td>
          <div class="chartboxbig linecharts">
            <h5>Compare {{datas.datum}}</h5>
            <div id="area-kampagne"></div>
            <div id="line-example"></div>
            <div style="text-align:left;margin-left:20px;">
              <div data-ng-repeat="kampagne in kampagnes">
                 <input type="checkbox" ng-checked="checkedKampagne.indexOf(kampagne.Kampagne) != -1" ng-click="toggleCheck(kampagne.Kampagne)"/>{{kampagne.Kampagne}}
              </div>
            </div>
          </div>
       </td>
       <td>
          <div class="chartboxbig linecharts">
            <h5>Durchschnitt {{datas.datum}}</h5>
            <div id="area-kampagne-average"></div>
            <div id="line-example-average"></div>
            <div class="" id="line1"></div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>

<script type="text/javascript">
  $('#select_date').on('change', function() {
    $('#select_hour').val('all');
  });

  $('#select_hour').on('change', function() {
  });
</script>

<script type="text/javascript">
    Morris.Line({
      element: 'line-example',
      data: [
        { y: '00'},
        { y: '01'},
        { y: '02'},
        { y: '03'},
        { y: '04'},
        { y: '05'},
        { y: '06'},
        { y: '07'},
        { y: '08'},
        { y: '09'},
        { y: '10'},
        { y: '11'},
        { y: '12'},
        { y: '13'},
        { y: '14'},
        { y: '15'},
        { y: '16'},
        { y: '17'},
        { y: '18'},
        { y: '19'},
        { y: '20'},
        { y: '21'},
        { y: '22'},
        { y: '23'}
      ],
      xkey: 'y',
      ykeys: ['a', 'b'],
      labels: ['Kampagne 1', 'Kampagne 2'],
      parseTime: false
    });

    Morris.Line({
      element: 'line-example-average',
      data: [
        { y: '00'},
        { y: '01'},
        { y: '02'},
        { y: '03'},
        { y: '04'},
        { y: '05'},
        { y: '06'},
        { y: '07'},
        { y: '08'},
        { y: '09'},
        { y: '10'},
        { y: '11'},
        { y: '12'},
        { y: '13'},
        { y: '14'},
        { y: '15'},
        { y: '16'},
        { y: '17'},
        { y: '18'},
        { y: '19'},
        { y: '20'},
        { y: '21'},
        { y: '22'},
        { y: '23'}
      ],
      xkey: 'y',
      ykeys: ['Durchschnitt'],
      labels: ['Durchschnitt'],
      parseTime: false
    });
</script>
