<div id="head">
  <h2>CS Fillrate Overview</h2>
</div>
<hr>
<div id="wrapper">
  <div id="spalte1">
    <table>
      <tr>
        <td>Datum:</td>
        <!--<td>
          <form>
            <select>
              <option>Today</option>
              <option selected>Yesterday</option>
              <option>This Week</option>
              <option>Last 7 Days</option>
              <option>Last Week</option>
              <option>This Month</option>
              <option>Last Month</option>
            </select>
          </form>
        </td> -->
        <td>
          <select id="select_date" ng-model="choosenDate" ng-options="date.Datum for date in dates" ng-change="changeSelectedDate()">
            <option value="">Datum auswählen</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Stunde:</td>
        <td>
            <select id="select_hour">
              <option value="null">Stunde auswählen</option>
              <option value="all">Ganzer Tag</option>
              <option value="0">00:00</option>
              <option value="1">01:00</option>
              <option value="2">02:00</option>
              <option value="3">03:00</option>
              <option value="4">04:00</option>
              <option value="5">05:00</option>
              <option value="6">06:00</option>
              <option value="7">07:00</option>
              <option value="8">08:00</option>
              <option value="9">09:00</option>
              <option value="10">10:00</option>
              <option value="11">11:00</option>
              <option value="12">12:00</option>
              <option value="13">13:00</option>
              <option value="14">14:00</option>
              <option value="15">15:00</option>
              <option value="16">16:00</option>
              <option value="17">17:00</option>
              <option value="18">18:00</option>
              <option value="19">19:00</option>
              <option value="20">20:00</option>
              <option value="21">21:00</option>
              <option value="22">22:00</option>
              <option value="23">23:00</option>
            </select>
          </td>
          <!--<td>
            {{ availableHour }}
            <select ng-model="availableHour" ng-options="hour.Hour for hour in hours">
              <option value="">Stunde auswählen</option>
            </select>
          </td>-->
      </tr>
      <!-- <tr>
        <td>Ganzer Tag:</td>
        <td><input type="checkbox"></td>
      </tr> -->
    </table>
    <h4>FILLRATE ( {{choosenDate.Datum}}{{choosenDate.Stunde}} )</h4>
    <table>
      <tr class="graphics">
        <td data-ng-repeat="kampagne in kampagnes">
          <div class="chartboxsmall">
            <h5>{{kampagne.Kampagne | limitTo:14 }}{{ kampagne.Kampagne.length > 20 ? '...' : '' }}</h5>
            <div>
              <Circful value="kampagne.percent">
            </div>
            <hr>
            <h5>{{kampagne.Impressions | number : fractionSize}} | {{kampagne.AdCounts | number : fractionSize | default : 0 }}</h5>
          </div>
        </td>
        <td>
          <div class="chartboxbig">
            <h5><a href="javascript:void(0)" ng-click="setOverFilledImpressions()">OVERALL FILLED IMPRESSION</a></h5>
            <p>{{setOverFilledImpressionsDate.Datum}}{{setOverFilledImpressionsDate.Stunde}}</p>
            <div id="donut-ofi" style="width:300px"></div>
          </div>
        </td>
        <td>
          <div class="chartboxbig">
            <h5><a href="javascript:void(0)" ng-click="setOverallFillrate()">OVERALL FILLRATE</a></h5>
            <p>{{setOverallFillrateDate.Datum}}{{setOverallFillrateDate.Stunde}}</p>
            <div data-ng-repeat="ovifillrate in ovifillrates">
              <div class="circleoverall">
                <Circful value="ovifillrate.percent">
              </div>
              <!-- <div class="circleoverall" id="circleoverall2"></div> -->
              <hr>
              <h5>{{ovifillrate.Impressions | number : fractionSize }} | {{ovifillrate.AdCounts | number : fractionSize || 0 }}</h5>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <table>
      <tr> </tr>
    </table>
  </div>
  <div id="spalte2">
    <hr>
    <h4>DETAIL</h4>
     <table>
      <tr>
      <td><div class="chartboxbig linecharts">
      <h5>Compare {{datas.datum}}</h5>
      <div id="area-kampagne"></div>
      <div id="line-example"></div>
      <div class="" id="line1"></div>
      <hr>
      <div style="text-align:left;margin-left:20px;">
        <div data-ng-repeat="kampagne in kampagnes">
           <input type="checkbox" ng-checked="checkedKampagne.indexOf(kampagne.Kampagne) != -1" ng-click="toggleCheck(kampagne.Kampagne)"/>{{kampagne.Kampagne}}
        </div>
      </div>
    </div>
  </td>
    <td>
    <div class="chartboxbig linecharts">
      <h5>Durchschnitt</h5>
      <div class="" id="line1"></div>
      <hr>
      <h5>5.123.234 | 650.234</h5>
    </div>
    </td>
      </tr>
    </table>
  </div>

</div>
</div>

<script type="text/javascript">
  $('#select_date').on('change', function() {
     $('#select_hour').val('all');

     angular.element($("#select_date")).scope().changeSelectedDate();
  });

  $('#select_hour').on('change', function() {
  var selected = $(this).val();

    if(selected!="null"){
      angular.element($("#select_hour")).scope().setHour(selected);
    }
  });
</script>

<script type="text/javascript">
    Morris.Line({
      element: 'line-example',
      data: [
        { y: '00'},
        { y: '01'},
        { y: '02'},
        { y: '03'},
        { y: '04'},
        { y: '05'},
        { y: '06'},
        { y: '07'},
        { y: '08'},
        { y: '09'},
        { y: '10'},
        { y: '11'},
        { y: '12'},
        { y: '13'},
        { y: '14'},
        { y: '15'},
        { y: '16'},
        { y: '17'},
        { y: '18'},
        { y: '19'},
        { y: '20'},
        { y: '21'},
        { y: '22'},
        { y: '23'}
      ],
      xkey: 'y',
      ykeys: ['a', 'b'],
      labels: ['Kampagne 1', 'Kampagne 2'],
      parseTime: false
    });
</script>
