<div id="head">
  <h2>CS Fillrate Overview</h2>
</div>
<hr>
<div id="wrapper">
  <div id="spalte1">
    <table>
      <tr>
        <td>Datum:</td>
        <!--<td>
          <form>
            <select>
              <option>Today</option>
              <option selected>Yesterday</option>
              <option>This Week</option>
              <option>Last 7 Days</option>
              <option>Last Week</option>
              <option>This Month</option>
              <option>Last Month</option>
            </select>
          </form>
        </td> -->
        <td>
          <select id="select_date" ng-model="choosenDate" ng-options="date.Datum for date in dates">
            <option value="">Datum auswählen</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Stunde:</td>
        <td>
            <select id="select_hour">
              <option value="null">Stunde auswählen</option>
              <option value="all">Ganzer Tag</option>
              <option value="0">00:00</option>
              <option value="1">01:00</option>
              <option value="2">02:00</option>
              <option value="3">03:00</option>
              <option value="4">04:00</option>
              <option value="5">05:00</option>
              <option value="6">06:00</option>
              <option value="7">07:00</option>
              <option value="8">08:00</option>
              <option value="9">09:00</option>
              <option value="10">10:00</option>
              <option value="11">11:00</option>
              <option value="12">12:00</option>
              <option value="13">13:00</option>
              <option value="14">14:00</option>
              <option value="15">15:00</option>
              <option value="16">16:00</option>
              <option value="17">17:00</option>
              <option value="18">18:00</option>
              <option value="19">19:00</option>
              <option value="20">20:00</option>
              <option value="21">21:00</option>
              <option value="22">22:00</option>
              <option value="23">23:00</option>
            </select>
          </td>
          <!--<td>
            {{ availableHour }}
            <select ng-model="availableHour" ng-options="hour.Hour for hour in hours">
              <option value="">Stunde auswählen</option>
            </select>
          </td>-->
      </tr>
      <!-- <tr>
        <td>Ganzer Tag:</td>
        <td><input type="checkbox"></td>
      </tr> -->
    </table>
    <h4>FILLRATE ( {{choosenDate.Datum}}{{choosenDate.Stunde}} )</h4>
    <table>
      <tr class="graphics">
        <td data-ng-repeat="kampagne in kampagnes">
          <div class="chartboxsmall" >
            <h5>{{kampagne.Kampagne | limitTo:15 }}{{ kampagne.Kampagne.length > 20 ? '...' : '' }}</h5>
            <div>
              <Circful value="kampagne.percent">
            </div>
            <hr>
            <h5>{{kampagne.Impressions}} | {{kampagne.AdCounts}}</h5>
          </div>
        </td>
        <td><div class="chartboxbig">
            <h5>OVERALL FILLED IMPRESSION</h5>
            <p><a href="javascript:void(0)" ng-click="setOverFilledImpressions()">{{choosenDate.Datum}}</a></p>
            <span>(in percent)</span>
            <!-- <div class="circleoverall" id="circleoverall1"></div> -->
            <div id="donut-ofi" style="width:350px"></div>
            <hr>
            <!-- <h5>5.123.234 | 650.234</h5> -->
          </div></td>
        <td><div class="chartboxbig">
            <h5>OVERALL FILLRATE</h5>
            <div class="circleoverall" id="circleoverall2"></div>
            <hr>
            <h5>5.123.234 | 650.234</h5>
          </div></td>
      </tr>
    </table>
    <table>
      <tr> </tr>
    </table>
  </div>
  <div id="spalte2">
    <hr>
    <h4>DETAIL</h4>
     <table>
      <tr>
      <td><div class="chartboxbig linecharts">
      <h5>Compare {{datas.datum}}</h5>
      <div id="area-kampagne"></div>
      <div class="" id="line1"></div>
      <hr>
      <div style="text-align:left;margin-left:20px;">
        <div data-ng-repeat="kampagne in kampagnes">
           <input type="checkbox" ng-checked="checkedKampagne.indexOf(kampagne.Kampagne) != -1" ng-click="toggleCheck(kampagne.Kampagne)"/>{{kampagne.Kampagne}}
        </div>
      </div>
    </div>
  </td>
    <td>
    <div class="chartboxbig linecharts">
      <h5>Durchschnitt</h5>
      <div class="" id="line1"></div>
      <hr>
      <h5>5.123.234 | 650.234</h5>
    </div>
    </td>
      </tr>
    </table>
  </div>

</div>
</div>

<script>$(document).ready(function(){
  $("#circle1").circliful({
    animationStep:5,
    foregroundColor:'#19c6f5',
    backgroundColor:'#eceaeb',
    fontColor:'#2A3440',
    foregroundBorderWidth:35,
    backgroundBorderWidth:35,
    percent:Math.floor((Math.random()*100)+1),
    });
  });
</script>
<script>$(document).ready(function(){$("#circle2").circliful({animationStep:5,foregroundColor:'#ff6600',backgroundColor:'#eceaeb',fontColor:'#2A3440',foregroundBorderWidth:35,backgroundBorderWidth:35,percent:Math.floor((Math.random()*100)+1),});});</script>
<script>$(document).ready(function(){$("#circle3").circliful({animationStep:5,foregroundColor:'#96cd00',backgroundColor:'#eceaeb',fontColor:'#2A3440',foregroundBorderWidth:35,backgroundBorderWidth:35,percent:Math.floor((Math.random()*100)+1),});});</script>
<script>$(document).ready(function(){$("#circle4").circliful({animationStep:5,foregroundColor:'#9744de',backgroundColor:'#eceaeb',fontColor:'#2A3440',foregroundBorderWidth:35,backgroundBorderWidth:35,percent:Math.floor((Math.random()*100)+1),});});</script>
<script>$(document).ready(function(){$("#circleoverall1").circliful({animationStep:5,foregroundColor:'#0014d7',backgroundColor:'#eceaeb',fontColor:'#2A3440',foregroundBorderWidth:35,backgroundBorderWidth:35,pointSize:100,percent:Math.floor((Math.random()*100)+1),});});</script>
<script>$(document).ready(function(){$("#circleoverall2").circliful({animationStep:5,foregroundColor:'#d70000',backgroundColor:'#eceaeb',fontColor:'#2A3440',foregroundBorderWidth:35,backgroundBorderWidth:35,pointSize:100,percent:Math.floor((Math.random()*100)+1),});});</script>

<script type="text/javascript">
  $('#select_date').on('change', function() {
     $('#select_hour').val(null);
     angular.element($("#select_date")).scope().setOverFilledImpressions();
  });

  $('#select_hour').on('change', function() {
  var selected = $(this).val();

    if(selected!="null"){
      angular.element($("#select_hour")).scope().setHour(selected);
    }
  });
</script>
